In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/country_notes.csv')
df.head()

  Country  Perfume Count           Note  Note Count
0     USA           1438         Amyris           9
1     USA           1438       Bergamot         200
2     USA           1438  Bitter orange          14
3     USA           1438          Cedar          65
4     USA           1438     Clary sage          16

# Data Cleaning

In [4]:
# Checks for missing values
missing_values = df.isnull().sum()

# Checks for duplicate rows
duplicate_rows = df.duplicated().sum()

# Checks for inconsistencies between Perfume Count and Note Count
inconsistent_rows = (df['Note Count'] > df['Perfume Count']).sum()

# Checks data types for each column
data_types = df.dtypes

# Filters out rows where 'Country' is "Unknown"
df_clean = df[df['Country'] != 'Unknown']

print(missing_values, duplicate_rows, inconsistent_rows, data_types)

df_clean.head()

Country          0
Perfume Count    0
Note             0
Note Count       0
dtype: int64 0 0 Country          object
Perfume Count     int64
Note             object
Note Count        int64
dtype: object

  Country  Perfume Count           Note  Note Count
0     USA           1438         Amyris           9
1     USA           1438       Bergamot         200
2     USA           1438  Bitter orange          14
3     USA           1438          Cedar          65
4     USA           1438     Clary sage          16